.bug-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    background-color: var(--clr2bg-light);
    width: max-content;
    padding: 1.5em 3em;
}

.bug-details h1 {
    color: var(--clr1);
    font-size: 2em;
    
}
.bug-details h5 {
    font-size: 1em;
    background-color: #c5c5c594;
    padding: 0.5em;
}

.bug-details img {
    max-width: 200px;
    display: block;
    margin: auto;
}

.bug-details .btn-back {
    background-color: lavender;
    padding: 0.5em;
    border-radius: 5px;
}

.bug-details .btn-back:hover {
    box-shadow: 6px 3px 8px 0px rgba(0, 0, 0, 0.148);
}

.bug-details .labels {
    padding-bottom: 1em;
}

.bug-details .bold {
    font-weight: 900;
    color: red;
}

:root {
    --clr1: rgb(96, 107, 91);
    --clr2: rgb(120, 99, 110);
  
    --clr1bg: rgb(153, 166, 149);
    --clr1bg-light: rgb(205, 221, 200);
    --clr2bg: rgb(233, 206, 221);
    --clr2bg-light: rgb(253, 236, 246);
  
    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
  
  } 