.bug-filter {
    background-color: var(--clr2bg);
}

.bug-filter h1 {
    padding-top: 1em;
    text-align: start;
    margin-inline-start: 1em;
}

.bug-filter .filter-sort {
    padding: 1em;
}

.bug-filter .filter-sort > * {
    margin-block-end: 0.5em;
}

.bug-filter span, label {
    font-weight: bold;
}

.bug-filter select {
    margin-inline-start: 1em;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.bug-filter input {
    margin-inline-end: 1em;
}